<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
  <uses-feature android:name="android.hardware.vr.headtracking" android:version="1" android:required="true" />
  <uses-feature android:name="android.hardware.vulkan.version" android:required="true" />
  <uses-feature android:name="com.oculus.feature.BOUNDARYLESS_APP" android:required="true" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
  <application android:label="@string/app_name" android:icon="@mipmap/app_icon" android:allowBackup="false">
    <meta-data android:name="unityplayer.SkipPermissionsDialog" android:value="false" />
    <meta-data android:name="unity.splash-mode" android:value="0" />
    <meta-data android:name="unity.splash-enable" android:value="True" />
    <meta-data android:name="unity.launch-fullscreen" android:value="True" />
    <meta-data android:name="unity.render-outside-safearea" android:value="True" />
    <meta-data android:name="notch.config" android:value="portrait|landscape" />
    <meta-data android:name="unity.auto-report-fully-drawn" android:value="true" />
    <!--Used when Application Entry is set to Activity, otherwise remove this activity block-->
    <!--ADD THESE LINES TO YOUR MANIFEST <APPLICATION> SECTION!!!-->
    <activity android:name="com.trev3d.DisplayCapture.DisplayCaptureRequestActivity" android:exported="false" />
    <service android:name="com.trev3d.DisplayCapture.DisplayCaptureNotificationService" android:exported="false" android:foregroundServiceType="mediaProjection" />
    <!--ADD THESE LINES TO YOUR MANIFEST <APPLICATION> SECTION!!!-->
    <meta-data android:name="com.oculus.handtracking.frequency" android:value="LOW" />
    <meta-data android:name="com.oculus.ossplash.background" android:value="passthrough-contextual" />
    <meta-data android:name="com.oculus.telemetry.project_guid" android:value="35b251ef-bf41-4e03-9671-6e4a83d7cf5a" />
    <meta-data android:name="com.oculus.supportedDevices" android:value="quest3|quest3s" />
  </application>
  <uses-feature android:name="com.oculus.feature.PASSTHROUGH" android:required="false" />
  <uses-feature android:name="oculus.software.handtracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.HAND_TRACKING" />
  <uses-permission android:name="com.oculus.permission.USE_ANCHOR_API" />
  <uses-feature android:name="oculus.software.eye_tracking" android:required="false" />
  <uses-permission android:name="com.oculus.permission.EYE_TRACKING" />
  <uses-permission android:name="com.oculus.permission.USE_SCENE" />
</manifest>